# Environment files
.env
.envrc

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code temporary files
tempCodeRunnerFile.py

# Internal handbook files - do not upload original handbook files
data/raw/handbooks/*
!data/raw/handbooks/.gitkeep

# Generated handbook chunks - do not upload chunk files
data/chunks/*
!data/chunks/.gitkeep

# Keep folder structure
!data/raw/.gitkeep
!data/chunks/.gitkeep
!data/processed/.gitkeep
!data/final/.gitkeep

# macOS metadata
.DS_Store
.vscode/
